.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #4b00cc;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 2rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.auth button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  cursor: pointer;
}

body {
  color: var(--black);
  background-image: url("https://cdn.prod.website-files.com/62c48d78ef34931f8a604ef5/62c490351ee26e719721025d_gradient-bg.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 150%;
}

.video-scroll {
  background-image: linear-gradient(135deg, #edd19e, #9baff1, #ed95f3);
}
